.contenedor-general {
    @include tamano;
    background-color: white;
    h2{
        @include tipografia("Saira Semi Condensed", normal, normal, 50px, #0F3D3E, 40px, center, none);
        justify-content: center;
    }
}

.contenedor-historia {
    @include tamano;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "sub-historia1 imagen-historia"
    "sub-historia2 imagen-historia"
    ;
    gap: 20px;
}

.sub-historia1{
    grid-area: sub-historia1;
    margin-left: 60px;
    place-items: center;
        h3{
            @include tipografia("Roboto Mono", 250, normal, 40px, #0F3D3E, 40px, left, 4px solid #decc96);
            
        }
        p{
            @include tipografia("Saira Semi Condensed", normal, normal, 20px, #0F3D3E, 10px, justify, none);
            
        }
}

.sub-historia2{
    @extend .sub-historia1;
    grid-area: sub-historia2;
}

.imagen-historia{
    @extend .sub-historia1;
    grid-area: imagen-historia;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .imagen-local{
        margin-top: 60px;
        width: 650px; 
        height: 780px; 
        padding: 10px; 
        border: 2px solid #000;
        border-radius: 5px; 
    }
}

.mas-nosotros {
    width: 100%;
    height: 40px;
    background-color: white;
    h2{
        @include tipografia("Roboto Mono", 300, normal, 40px, 0F3D3E , 80px, center, 4px solid #decc96);
    }
}

.contenedor {
    @include tamano;
    max-width: 1400px;
    @include displayType(flex, wrap, none, center);
    margin: auto;
}