$colores:(
    colorPrincipalyH2: #0F3D3E,
    colorSecundario: #F1F1F1,
    colorFuenteH1a: white,
    colorLineas: #E2DCC8,
    colorBackground: black,
    colorTerciario: #f0eee7,
    colorForm: #F8F3F3
);